@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

.light-background {
  position: fixed;
  background-image: radial-gradient(rgb(107, 234, 243) 5%, rgb(123, 158, 253) 60%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

/*HEADER*/
#maxify {
  font-size: 4rem;
  font-family: "MuseoModerno", cursive;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1rem;
  text-shadow: 3px 3px rgb(33, 24, 155);
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-align: center;
}

#slogan {
  font-family: "MuseoModerno", cursive;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  margin-top: -0.5rem;
}

/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.links {
  display: table;
  margin: 0 auto;
  padding-left: 2rem;
}

.links li {
  display: inline;
  font-size: 3rem;
  letter-spacing: 3rem;
}
.links li:hover {
  text-shadow: 3px 3px rgb(33, 24, 155);
}

/* TASKS CONTAINER */

.input-group {
  margin-top: 0.5rem;
}

.new-task{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.input-group-text {
  background-color: rgb(86, 131, 253);
  border: 2px solid rgb(33, 24, 155);
  font-size: 1.5rem;
}

.input-group-text:hover {
  text-shadow: 3px 3px rgb(33, 24, 155);
}

.form-control {
  border: 2px solid rgb(33, 24, 155);
  font-size: 1.25rem;
}

.task-text {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  background-color: white;
  border: 2px solid rgb(33, 24, 155);
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-top: 2px;
}
