@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

a,
a:hover,
i,
i:hover {
  text-decoration: none;
  color: #fafafa;
}

ul {
  list-style: none;
}

.fa,
.checkbox {
  cursor: pointer;
}

.light-background {
  position: absolute;
  background-image: linear-gradient(
    rgb(123, 158, 253) 5%,
    rgb(107, 182, 243) 60%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.dark-background {
  position: absolute;
  background-image: linear-gradient(
    rgb(0, 0, 0) 5%,
    rgb(53, 53, 53) 60%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

/*HEADER*/
#maxify {
  font-size: 4rem;
  font-family: "MuseoModerno", cursive;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1rem;
  text-shadow: 3px 3px rgb(43, 35, 155);
  color: #fafafa;
  font-weight: 900;
  text-align: center;
}

#slogan {
  font-family: "MuseoModerno", cursive;
  text-transform: uppercase;
  color: #fafafa;
  font-weight: 600;
  text-align: center;
  margin-top: -0.5rem;
}

@media screen and (max-width: 600px) {
  #maxify {
    font-size: 3.25rem;
  }
  #slogan{
    font-size: 0.75rem;
  }
}

/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  padding-top: 0.5rem;
}

.links {
  display: table;
  margin: 0 auto;
  padding-left: 7rem;
}

.links li {
  display: inline;
  font-size: 3rem;
  letter-spacing: 7rem;
}
.links li:hover {
  text-shadow: 3px 3px rgb(43, 35, 155);
}

.links-dark li:hover {
  text-shadow: 3px 3px rgb(100, 100, 100);
}


@media screen and (max-width: 600px) {
  .links {
    padding-left: 3rem;
  }

  .links li {
    font-size: 2rem;
    letter-spacing: 3rem;
  }
}

/* TASKS */

.input-group {
  margin-top: 0.5rem;
}

.new-task {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.input-group-text {
  background-color: rgb(86, 131, 253);
  border: 2px solid rgb(43, 35, 155);
  font-size: 1.5rem;
}

.input-group-text:hover {
  text-shadow: 3px 3px rgb(43, 35, 155);
}

.form-control,
.form-edit {
  border: 2px solid rgb(43, 35, 155);
  font-size: 1.25rem;
}

.task-text {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  background-color: #fafafa;
  border: 2px solid rgb(43, 35, 155);
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-top: 2px;
}

.fa-check.on {
  border: 2px solid #fafafa;
  padding: 1px;
  border-radius: 25%;
  font-size: 1rem;
  text-shadow: none;
}

.fa-check.off {
  border: 2px solid #fafafa;
  padding: 1px;
  border-radius: 25%;
  font-size: 1rem;
  text-shadow: none;
  background-color: #fafafa;
}

i.fa-check:hover {
  border: 2px solid rgb(43, 35, 155);
}

.task-list{
  margin-bottom: 7rem;
}


.input-group-text-dark {
  background-color: rgb(80,80,80);
  border: 2px solid rgb(100, 100, 100);
  font-size: 1.5rem;
}

.input-group-text-dark:hover {
  text-shadow: 3px 3px rgb(100, 100, 100);
}

.form-control-dark,
.form-edit-dark {
  border: 2px solid rgb(100, 100, 100);
  font-size: 1.25rem;
}

.task-text-dark {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  background-color: #fafafa;
  border: 2px solid rgb(100, 100, 100);
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-top: 2px;
}

i.fa-check-dark:hover {
  border: 2px solid rgb(100, 100, 100);
}


/* EDIT TASKS */
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
}

.input-edit {
  padding-top: 40%;
}

/* TROPHYS */
.trophy-section {
  display: none;
  position: relative;
  font-size: 1.25rem;
}

.trophy-section .fa {
  cursor: default;
}

.trophy-div {
  margin-top: 2rem;
  padding: 1rem 0 1rem 2rem;
  background-color: rgb(86, 131, 253);
  border-radius: 0.25rem;
}

.trophy-text {
  display: inline;
  padding-left: 1rem;
  font-size: 1.25rem;
  color: #fafafa;
}

.pop-up-trophy {
  padding: 1rem;
  background-color: rgb(86, 131, 253);
  color: #fafafa;
  border-radius: 0.25rem;
  width: 66%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

.pop-up-trophy p {
  position: absolute;
  cursor: pointer;
  font-weight: 600;
}

.pop-up-trophy h6 {
  padding-left: 1rem;
  padding-right: 1rem;
}


.trophy-div-dark {
  margin-top: 2rem;
  padding: 1rem 0 1rem 2rem;
  background-color: rgb(80,80,80);
  border-radius: 0.25rem;
}

.pop-up-trophy-dark {
  padding: 1rem;
  background-color: rgb(80,80,80);
  color: #fafafa;
  border-radius: 0.25rem;
  width: 66%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}